<%= render 'spree/shared/error_messages', :target => @inquiry %>
<div class="row">
<div id="contact_form" class="span5 ">
  <%= form_for(@inquiry) do |f| %>
      <p>
          <%= f.label :name, t(:contact_name) %><span class="required">*</span><br/>
          <%= f.text_field :name %>
      </p>
      <p>
          <%= f.label :email, t(:contact_email) %><span class="required">*</span><br/>
          <%= f.text_field :email %>
      </p>
      <p>
          <%= f.label :phone_number, t(:contact_phone_number) %><br/>
          <%= f.text_field :phone_number, :size => 90 %>
      </p>
      <p>
          <%= f.label :inquiry_type, t(:inquiry_type) %><br/>
          <%= f.select :inquiry_type, options_for_select(inquiry_types_translated) %>
      </p>
      <p>
          <%= f.label :order_no, t(:inquiry_order_no) %><br/>
          <%= f.text_field :order_no %>
      </p>
      <p>
          <%= f.label :message, t(:inquiry_message) %> <span class="required">*</span><br/>
          <%= f.text_area :message, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
      </p>
    <% if Spree::ContactUsConfiguration[:use_captcha] && Spree::ContactUsConfiguration[:recaptcha_public_key] %>
      <%= recaptcha_tags(
            :public_key => Spree::ContactUsConfiguration[:recaptcha_public_key],
            :display    => {:theme => Spree::ContactUsConfiguration[:recaptcha_theme]}
          )
      %>
    <% end %>
    <% if Spree::ContactUsConfiguration[:use_honeypot] %>
        <div class="inquiry_honey">
            <%= t('honeypot.please_leave_blank') %><input name="honey" value="" />
        </div>
    <% end %>
    <br/>
    <%= f.hidden_field :client_viewport_size %>
    <%= f.submit t(:send_inquiry) %>
  <% end %>
</div>
<div class="span5">
	<div id="map" class="half col" ><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=209417956766365196144.0004d961a9b4480371ad9&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=53.337746,-6.254606&amp;spn=0.001267,0.003484&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msid=209417956766365196144.0004d961a9b4480371ad9&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=53.337746,-6.254606&amp;spn=0.001267,0.003484&amp;source=embed" style="color:#0000FF;text-align:left">My Saved Places</a> in a larger map</small></div>
				<ul class="contact_info">
					<li><strong>Access Keys</strong>, 12 Hume St., Dublin 2, Ireland.</li>
   	<li><a href="http://twitter.com/accesskeys"><img src="<%= asset_path ('twitter.png')%>" alt="" /></a></li>

                <li><a href="http://facebook.com/accesskeys"><img src="<%= asset_path ('fb.png')%>" alt="" /></a></li>

                <li><a href="mailto:support@accesskeys.ie"><img src="<%= asset_path ('email.png')%>" alt="" /></a></li>

                <li><a href="#"><img src="<%= asset_path ('share.png')%>" alt="" /></a></li>
				</ul>		
			</div>
			
			<div class="clear"></div>
</div>
</div>
